{% extends "accounts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form class="panel" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div{% if field.name == 'permissions' %} class="permission-checklist"{% endif %}>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
            {{ field.errors }}
        </div>
    {% endfor %}
    <div class="actions">
        <button type="submit">Save</button>
        <a class="button secondary" href="{% url 'account-user-list' %}">Cancel</a>
    </div>
</form>
{% endblock %}
